<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.breno.pokemobile">

    <application
        android:allowBackup="true"
        android:icon="@drawable/pokeball"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuPrincipalActivity" android:screenOrientation="portrait" />
        <activity android:name=".InfoActivity" android:screenOrientation="portrait" />
        <activity android:name=".LoginActivity" android:screenOrientation="portrait" />
        <activity android:name=".CadastroActivity" android:screenOrientation="portrait" />
        <activity android:name=".SelecionaTreinadorActivity" android:screenOrientation="portrait" />
        <activity android:name=".CriaTreinadorActivity" android:screenOrientation="portrait" />
        <activity android:name=".LojaActivity" android:screenOrientation="portrait" />
        <activity android:name=".MochilaActivity" android:screenOrientation="portrait" />
        <activity android:name=".PokedexActivity" android:screenOrientation="portrait" />
        <activity android:name=".DetalhesPokemonActivity" android:screenOrientation="portrait" />
        <activity android:name=".SelecionaPokemonActivity" android:screenOrientation="portrait" />
        <activity android:name=".PokemonsActivity" android:screenOrientation="portrait" />
        <activity android:name=".BatalhaSelvagemActivity" android:screenOrientation="portrait"></activity>
    </application>

</manifest>